
.vs/UpendoVentures.DNN/v17/.suo
Modules/UpendoUserManaged/bin/Upendo.Modules.UpendoUserManaged.dll
Modules/UpendoUserManaged/bin/Upendo.Modules.UpendoUserManaged.pdb
Modules/UpendoUserManaged/obj/Debug/Upendo.Modules.UpendoUserManaged.csproj.AssemblyReference.cache
Modules/UpendoUserManaged/obj/Debug/Upendo.Modules.UpendoUserManaged.csproj.FileListAbsolute.txt
Modules/UpendoUserManaged/obj/Debug/Upendo.Modules.UpendoUserManaged.dll
Modules/UpendoUserManaged/obj/Debug/Upendo.Modules.UpendoUserManaged.pdb
Modules/UpendoUserManaged/obj/Release/Upendo.Modules.UpendoUserManaged.dll
*.pdb
Website/bin/Upendo.Modules.UpendoUserManaged.dll
Website/bin/Upendo.Modules.UpendoUserManaged.pdb
Website/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Views/Shared/_Layout.cshtml
Website/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Views/UserManage/Edit.cshtml
Website/Install/Module/Upendo.UpendoUserManaged_01.00.00_Install.zip
Website/Install/Module/Upendo.UpendoUserManaged_01.00.00_Symbols.zip
