#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table tr:hover {
        background-color: #ddd;
    }

    #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #6d5a2c;
        color: white;
    }

#title {
    color: #6d5a2c;
}

#subtitle {
    color: #ba9545;
}

.dataTables_wrapper input {
    width: 130px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dataTables_wrapper select {
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dataTables_wrapper input:focus {
    border: 2px solid #ba9545;
    width: 94%;
}

.formItem {
    margin-top: 20px;
    font-size: 16px;
}

    .formItem input {
        width: 95%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 6px;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
        margin-top: 3px;
    }

.buttomForm button {
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
}

.buttomForm .primary {
    background-color: #008CBA;
}

.buttomForm .disabled {
    background-color: #b4babc;
    pointer-events: none;
    opacity: 0.65;
    cursor: not-allowed;
}

.buttomForm #cancelEdit {
    background-color: grey;
}

.checkbox {
    font-size: 16px;
    margin-top: 20px;
}

#checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.left {
    float: left;
    margin: 2px;
}

.right {
    float: right;
    margin: 2px;
}

.center {
    margin: auto;
    width: 60%;
    text-align: center;
}

.white-color {
    color: white;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.float-right {
    float: right
}

.ml5 {
    margin-left: 5px;
}

.ml30 {
    margin-left: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mt35 {
    margin-top: 35px;
}

.pb10 {
    padding-bottom: 10px !important;
}

.accountSettings {
    margin-left: 10px !important;
}

    .accountSettings img {
        border-radius: 50% !important;
    }

.accountData {
    margin-left: 10px !important;
    margin-top: 30px !important;
}

/* Grid System */
.row::after {
    content: "";
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
/* Grid System */

.dropDownList {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 9px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
    font-size: 16px;
    border-radius: 10px;
}

.select-menu {
    max-width: 330px;
    margin-bottom: 50px;
}

    .select-menu .select-btn {
        display: flex;
        height: 35px;
        min-width: 160px;
        background: #fff;
        padding: 20px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .select-menu .options {
        position: absolute;
        width: 200px;
        overflow-y: auto;
        max-height: 295px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation-name: fadeInDown;
        -webkit-animation-name: fadeInDown;
        animation-duration: 0.35s;
        animation-fill-mode: both;
        -webkit-animation-duration: 0.35s;
        -webkit-animation-fill-mode: both;
    }

        .select-menu .options .option {
            display: flex;
            height: 30px;
            cursor: pointer;
            padding: 0 16px;
            border-radius: 8px;
            align-items: center;
            background: #fff;
        }

            .select-menu .options .option:hover {
                background: #f2f2f2;
            }

            .select-menu .options .option i {
                font-size: 25px;
                margin-right: 12px;
            }

            .select-menu .options .option .option-text {
                font-size: 18px;
                color: #333;
            }

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    width: 170px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}
