#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table tr:hover {
        background-color: #ddd;
    }

    #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #6d5a2c;
        color: white;
    }

#title {
    color: #6d5a2c;
}

#subtitle {
    color: #ba9545;
}

.dataTables_wrapper input {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px;
    transition: width 0.4s ease-in-out;
}

.dataTables_wrapper select {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px;
    transition: width 0.4s ease-in-out;
}

.dataTables_wrapper input:focus {
    border: 2px solid #ba9545;
    width: 94%;
}

.formItem {
    margin-top: 20px;
    font-size: 16px;
}

    .formItem input {
        width: 95%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 6px;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
        margin-top: 3px;
    }

.buttomForm button {
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
}

.buttomForm #primary {
    background-color: #008CBA;
}

.buttomForm #cancelEdit {
    background-color: grey;
}

.checkbox {
    font-size: 16px;
    margin-top: 20px;
}

#checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.left {
    float: left;
    margin: 2px;
}

.right {
    float: right;
    margin: 2px;
}

.center {
    margin: auto;
    width: 60%;
    text-align: center;
}

.white-color {
    color: white;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.float-right {
    float: right
}

.ml5 {
    margin-left: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mt35 {
    margin-top: 35px;
}

.pb10 {
    padding-bottom: 10px !important;
}

.vl {
    border-left: 1px solid #ba9545;
    height: 50%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}
/* Grid System */
.row::after {
    content: "";
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
/* Grid System */

.dropDownList {
    width: 95%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
    font-size: 16px;
}

/* #Body .ui-widget-overlay {
    background: #000;
    opacity: .60;
    filter: Alpha(Opacity=60);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#Body .ui-widget-shadow {
    margin: 5px 0 0 5px;
    padding: 0px;
    background: #999;
    opacity: .45;
    filter: Alpha(Opacity=45);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.dnnFormPopup {
    position: absolute;
    padding: 0;
    width: 300px;
    border: 4px #ccc solid;
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
#iPopUp {
    width: 100% !important;
    padding-top: 10px;
}
.dnnFormPopup .ui-dialog-titlebar {
    padding: 0.8em 1.2em;
    position: relative;
    background: #4E4E4E;
    background: -moz-linear-gradient(top, #4E4E4E 0%, #282828 100%);
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4E4E4E), color-stop(100%,#282828));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E4E4E', endColorstr='#282828',GradientType=0 );
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000;
    cursor: move;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.dnnFormPopup .ui-dialog-title {
    float: left;
    margin: .1em 16px .1em 0;
    position: relative;
    font-size: 14px;
}
.dnnFormPopup a.ui-dialog-titlebar-close {
    text-indent: -9999em;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../../images/close-icn.png) no-repeat;
    height: 24px;
    width: 24px;
}
.dnnFormPopup a.dnnToggleMax {
    float: right;
    display: block;
    text-indent: -9999em;
    background: url(../../images/modal-max-min-icn.png) no-repeat bottom;
    height: 24px;
    width: 24px;
    margin: 1px 24px 0 0;
}
.dnnFormPopup a.dnnToggleMax.ui-dialog-titlebar-max { background: url(../../images/modal-max-min-icn.png) no-repeat top }
.dnnFormPopup .ui-dialog-content,
#iPopUp .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0px;
    background: #fff;
    overflow: auto;
    zoom: 1;
}
.dnnFormPopup .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}
.dnnFormPopup .ui-dialog-buttonpane .ui-dialog-buttonset { float: right }
.dnnFormPopup .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0.8em;
    cursor: pointer;
    padding: 0.5em 1em;
}
.dnnFormPopup .ui-resizable-se {
    width: 14px;
    height: 14px;
    float: right;
    background: url(../../images/modal-resize-icn.png) no-repeat bottom;
    height: 24px;
    width: 24px;
}
.dnnFormPopup .dnnDialog { padding: 10px }
.dnnLoading {
    background: #fff url(../../images/loading.gif) no-repeat center center;
    position: absolute;
    z-index: 9999;
}  */
