@using DotNetNuke.Web.Client.ClientResourceManagement
@{
    var moduleId = Dnn.ModuleContext.ModuleId;
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/bootstrap/css/bootstrap.min.css");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/bootstrap/css/jquery.dataTables.min.css");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/css/dataTables.bootstrap.css");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/bootstrap/css/mbs-qdtf.css");
    @* ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage,
        "https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"); *@
    ClientResourceManager.RegisterScript(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/bootstrap/js/bootstrap.min.js", 20);
    ClientResourceManager.RegisterScript(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/bootstrap/js/jquery.dataTables.js");
    ClientResourceManager.RegisterScript(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/bootstrap/js/mbs-qdtf.js");
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/js/bootstrap-confirmation.js");
    ClientResourceManager.RegisterScript(Dnn.DnnPage,
    "~/DesktopModules/MVC/Upendo.Modules.UpendoUserManaged/Resources/js/vue.js");
<<<<<<< HEAD
    @* ClientResourceManager.RegisterScript(Dnn.DnnPage, "https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"); *@
=======
    ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage,
    "https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css");
    ClientResourceManager.RegisterScript(Dnn.DnnPage,
    "https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js");
>>>>>>> 3b5d30ff85ad9605b7b22cc977d918df9d5e7f03
}
<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>